{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">All posts</h1>
    <span>
        <a href="{{ path('postscreate') }}" class="btn btn-success">New post</a>
    </span>


    {% for row in posts|batch(3) %}
        <div class="row">
            {% for post in row %}
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="{{ asset('uploads/') ~ post.image }}">
                    <div class="card-block">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text"> {{ post.description[0:50] }}...</p>
                        <a href="{{ post.id }}" class="btn btn-info">Read more</a>
                        <a href="edit/{{ post.id }}" class="btn btn-primary">Edit</a>
                        <a href="delete/{{ post.id }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}